<!doctype html>
<html>

<head>
    <title>CarpMaster v2.0l</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
		body {
			text-align: center;
		}
		#g1,
		#g2 {
			width: 200px;
			height: 160px;
			display: inline-block;
			margin: 1em;
		}
    </style>
</head>

<body>
    <h1> CarpMaster v2.0 </h1>
	<h3> Last Sensors Reading: {{ time }} ==> <a href="/"class="button">REFRESH</a></h3>
    <hr>

    {% for tankName in tanks %}
    <h3>TankName: {{ tankName }}</h3>
        LightNumber: {{ LightNumber }}
        LightStatus: {{ LightStatus }}

        <div id={{ tankName }}></div>

        <hr>
    {% endfor %}

    <script>
        for(var i = 0; i < 10; i++) {
    window['var' + i] = i;
    }
    </script>


    <script>


     {% for tankName in tanks %}
		var {{ tankName }};
		document.addEventListener("DOMContentLoaded", function(event) {
            gauge = new JustGage({
				id: {{ tankName }},
				value: 20,
				valueFontColor: "yellow",
				titleFontColor: "yellow",
				min: 0,
				max: 30,
				title: {{ tankName }},
				label: "Celcius"
			});
		});
     {% endfor %}
    </script>




    <div id="g1"></div>
    <div id="g2"></div>

    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>

    <script>
		var g1;
        var g2;
		document.addEventListener("DOMContentLoaded", function(event) {
			g1 = new JustGage({
				id: "g1",
				value: 20,
				valueFontColor: "yellow",
				titleFontColor: "yellow",
				min: -10,
				max: 50,
				title: "Temperature",
				label: "Celcius"
			});
			g2 = new JustGage({
				id: "g2",
				value: 20,
				valueFontColor: "yellow",
				titleFontColor: "yellow",
				min: 0,
				max: 100,
				title: "Humidity",
				label: "%"
			});
		});
    </script>



</body>

</html>